Repository jstark518/Desktop-Deploy, pull requests merged in 2022-09, with the labels that each got.

#23 GitHub api
  .gitignore
  package.json
  src/renderer/components/SimpleRepoList.js
  src/renderer/preload.js
  yarn.lock
Labels: 3rd Party API

#41 Clone viewer
  .gitignore
  src/.DS_Store
  src/main/index.js
  src/renderer/components/BranchList.js
  src/renderer/components/CommitList.js
  src/renderer/components/CommitView.js
  src/renderer/components/MainContainer.js
  src/renderer/components/RepoTreeView.js
Labels: React

#62 Xterm ux
  .gitignore
  package.json
  src/main/index.js
  src/renderer/components/BottomViewContainer.js
  src/renderer/components/BranchViewer.js
  src/renderer/components/CloneViewer.js
  src/renderer/components/CommitDetailViewer.js
  src/renderer/components/CommitView.js
  src/renderer/components/DefaultRepoViewer.js
  src/renderer/components/MUIButton.js
  src/renderer/components/MainContainer.js
  src/renderer/components/MainView.js
  src/renderer/components/Repo.js
  src/renderer/components/RepoList.js
  src/renderer/components/RepoTreeView.js
  src/renderer/components/TagList.js
  src/renderer/components/TagViewer.js
  src/renderer/components/XTerm.js
  src/renderer/data.js
  src/renderer/preload.js
  webpack.renderer.config.js
  yarn.lock
Labels: React, XTerm

#69 Bitbucket oAuth
  package.json
  src/main/api/repos/bitbucket.ts
  src/main/api/repos/contracts/auth.ts
  src/main/api/repos/contracts/repo.ts
  src/main/api/repos/github.ts
  src/main/index.js
  src/renderer/components/MainView.js
  yarn.lock
Labels: 3rd Party API
